In [1]:
import pandas as pd
import numpy as np

In [2]:
# January 2020 Data 
citibike_jan2020 = ('citibike-tripdata2020/JC-202001-citibike-tripdata.csv')
df_citibike_jan2020 = pd.read_csv(citibike_jan2020)
df_citibike_jan2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [3]:
print(df_citibike_jan2020.count())
print(df_citibike_jan2020.isnull().values.any())

tripduration               26020
starttime                  26020
stoptime                   26020
start station id           26020
start station name         26020
start station latitude     26020
start station longitude    26020
end station id             26020
end station name           26020
end station latitude       26020
end station longitude      26020
bikeid                     26020
usertype                   26020
birth year                 26020
gender                     26020
dtype: int64
False

In [4]:
# Februrary 2020 Data 
citibike_feb2020 = ('citibike-tripdata2020/JC-202002-citibike-tripdata.csv')
df_citibike_feb2020 = pd.read_csv(citibike_feb2020)
df_citibike_feb2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,841,2020-02-01 00:02:13.7650,2020-02-01 00:16:15.4720,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1
1,206,2020-02-01 00:16:11.3850,2020-02-01 00:19:37.4460,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1
2,859,2020-02-01 00:23:22.1090,2020-02-01 00:37:41.5060,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1
3,693,2020-02-01 00:25:14.5170,2020-02-01 00:36:48.0280,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1
4,1473,2020-02-01 00:32:30.5050,2020-02-01 00:57:04.3740,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0

In [5]:
print(df_citibike_feb2020.count())
print(df_citibike_feb2020.isnull().values.any())

tripduration               22962
starttime                  22962
stoptime                   22962
start station id           22962
start station name         22962
start station latitude     22962
start station longitude    22962
end station id             22962
end station name           22962
end station latitude       22962
end station longitude      22962
bikeid                     22962
usertype                   22962
birth year                 22962
gender                     22962
dtype: int64
False

In [6]:
# March 2020 Data 
citibike_march2020 = ('citibike-tripdata2020/JC-202003-citibike-tripdata.csv')
df_citibike_march2020 = pd.read_csv(citibike_march2020)
df_citibike_march2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,389,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1
1,242,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1
2,124,2020-03-01 01:08:46.4880,2020-03-01 01:10:51.2780,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0
3,104,2020-03-01 01:22:35.4790,2020-03-01 01:24:20.2470,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1
4,228,2020-03-01 01:39:20.2680,2020-03-01 01:43:09.1380,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1

In [7]:
print(df_citibike_march2020.count())
print(df_citibike_march2020.isnull().values.any())

tripduration               17719
starttime                  17719
stoptime                   17719
start station id           17719
start station name         17719
start station latitude     17719
start station longitude    17719
end station id             17719
end station name           17719
end station latitude       17719
end station longitude      17719
bikeid                     17719
usertype                   17719
birth year                 17719
gender                     17719
dtype: int64
False

In [8]:
# April 2020 Data 
citibike_april2020 = ('citibike-tripdata2020/JC-202004-citibike-tripdata.csv')
df_citibike_april2020 = pd.read_csv(citibike_april2020)
df_citibike_april2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1437,2020-04-01 01:06:20.6300,2020-04-01 01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,2
1,264,2020-04-01 05:02:42.0570,2020-04-01 05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,2
2,254,2020-04-01 06:20:28.1190,2020-04-01 06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,1
3,429,2020-04-01 06:33:30.5170,2020-04-01 06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,1
4,805,2020-04-01 06:38:32.9220,2020-04-01 06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,1

In [9]:
print(df_citibike_april2020.count())
print(df_citibike_april2020.isnull().values.any())

tripduration               9268
starttime                  9268
stoptime                   9268
start station id           9268
start station name         9268
start station latitude     9268
start station longitude    9268
end station id             9268
end station name           9268
end station latitude       9268
end station longitude      9268
bikeid                     9268
usertype                   9268
birth year                 9268
gender                     9268
dtype: int64
False

In [10]:
# May 2020 Data 
citibike_may2020 = ('citibike-tripdata2020/JC-202005-citibike-tripdata.csv')
df_citibike_may2020 = pd.read_csv(citibike_may2020)
df_citibike_may2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,349,2020-05-01 00:09:45.5860,2020-05-01 00:15:35.2930,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,1969,0
1,138,2020-05-01 01:11:22.5280,2020-05-01 01:13:41.2460,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,1949,1
2,229,2020-05-01 05:31:29.5350,2020-05-01 05:35:19.2400,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,1984,1
3,261,2020-05-01 05:51:39.3960,2020-05-01 05:56:00.9370,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,1974,2
4,168,2020-05-01 06:06:31.9510,2020-05-01 06:09:20.1410,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,1966,1

In [11]:
print(df_citibike_may2020.count())
print(df_citibike_may2020.isnull().values.any())

tripduration               25077
starttime                  25077
stoptime                   25077
start station id           25077
start station name         25077
start station latitude     25077
start station longitude    25077
end station id             25077
end station name           25077
end station latitude       25077
end station longitude      25077
bikeid                     25077
usertype                   25077
birth year                 25077
gender                     25077
dtype: int64
False

In [12]:
# June 2020 Data 
citibike_june2020 = ('citibike-tripdata2020/JC-202006-citibike-tripdata.csv')
df_citibike_june2020 = pd.read_csv(citibike_june2020)
df_citibike_june2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,122,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42489,Subscriber,1987,1
1,1282,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,3198,Heights Elevator,40.748716,-74.040443,3276,Marin Light Rail,40.714584,-74.042817,42183,Subscriber,1988,1
2,186,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,3275,Columbus Drive,40.718355,-74.038914,3681,Grand St,40.715178,-74.037683,42140,Subscriber,1987,1
3,131,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,3267,Morris Canal,40.712419,-74.038526,3681,Grand St,40.715178,-74.037683,42120,Subscriber,1987,1
4,266,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42437,Subscriber,1972,2

In [13]:
print(df_citibike_june2020.count())
print(df_citibike_june2020.isnull().values.any())

tripduration               36921
starttime                  36921
stoptime                   36921
start station id           36921
start station name         36921
start station latitude     36921
start station longitude    36921
end station id             36921
end station name           36921
end station latitude       36921
end station longitude      36921
bikeid                     36921
usertype                   36921
birth year                 36921
gender                     36921
dtype: int64
False

In [14]:
# Combine Databases Jan - June 2020
citibikejan_june2020 = pd.concat([df_citibike_jan2020, df_citibike_feb2020, df_citibike_march2020, df_citibike_april2020, df_citibike_may2020, df_citibike_june2020])

In [15]:
# Ensured data is consistent and clean throughout analysis. 
# (Facts: 137967 rows × 15 columns).
citibikejan_june2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [16]:
# 1. How many trips have been recorded total during the chosen period?
# Confirmed joint Count via individual monthly data above. 
print(citibikejan_june2020.count())
print(citibikejan_june2020.isnull().values.any())

tripduration               137967
starttime                  137967
stoptime                   137967
start station id           137967
start station name         137967
start station latitude     137967
start station longitude    137967
end station id             137967
end station name           137967
end station latitude       137967
end station longitude      137967
bikeid                     137967
usertype                   137967
birth year                 137967
gender                     137967
dtype: int64
False

In [17]:
# Pay attention to labels via citibikenyc.com/system-data
# Trip Duration (seconds)
# Start Time and Date / Stop Time and Date
# Start Station Name / End Station Name
# Station ID / Station Lat/Long
# Bike ID
# User Type (Customer=24-hour pass or 3-day pass user; Subscriber = Annual Member)
# Gender (Zero=unknown; 1=male, 2=female)
# Year of Birth

In [18]:
# Transform Gender to NA/Male/Female from 
citibikejan_june2020['gender'] = citibikejan_june2020['gender'].replace([0,1,2], ["unknown", "male", "female"])
citibikejan_june2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,female
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,female
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,male
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,unknown
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,female

In [19]:
citibikejan_june2020.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [20]:
# Export to CSV
citibikejan_june2020.to_csv("citibike_tripdata-jan_june2020.csv")

In [21]:
# Query Data. What is the number count of unique bikeid's during this time period? 

bikeid_count = len(citibikejan_june2020["bikeid"].unique())
print(f"Unique bikeid_count : {bikeid_count}")
print("----------")

Unique bikeid_count : 1292
----------

In [22]:
# Query Data. What is the number count of unique start and end stations during this time period? 

startstationid_count = len(citibikejan_june2020["start station id"].unique())
print(f"startstationid_count : {startstationid_count}")
print("----------")

startstationname_count = len(citibikejan_june2020["start station name"].unique())
print(f"startstationname_count : {startstationname_count}")
print("----------")

endstationid_count = len(citibikejan_june2020["end station id"].unique())
print(f"endstationid_count : {endstationid_count}")
print("----------")

endstationname_count = len(citibikejan_june2020["end station name"].unique())
print(f"endstationname_count : {endstationname_count}")
print("----------")

startstationid_count : 51
----------
startstationname_count : 51
----------
endstationid_count : 77
----------
endstationname_count : 77
----------

In [23]:
# Query Data. What is the gender breakdown of active participants (Male v. Female) for this time period? 

Months = 6

gender_unknown_count = citibikejan_june2020[citibikejan_june2020["gender"] == "unknown"].count()
gender_unknown_average_count = (gender_unknown_count/Months)

print("Total: Unknown Gender User Count")
print(gender_unknown_count["gender"])
print("Monthly Average: Unknown Gender User Count")
print(gender_unknown_average_count["gender"])
print("----------")

gender_male_count = citibikejan_june2020[citibikejan_june2020["gender"] == "male"].count()
gender_male_average_count = (gender_male_count/Months)

print("Total: Male Gender User Count")
print(gender_male_count["gender"])
print("Monthly Average: Male Gender User Count")
print(gender_male_average_count["gender"])
print("----------")

gender_female_count = citibikejan_june2020[citibikejan_june2020["gender"] == "female"].count()
gender_female_average_count = (gender_female_count/Months)

print("Total: Female Gender User Count")
print(gender_female_count["gender"])
print("Monthly Average: Female Gender User Count")
print(gender_female_average_count["gender"])
print("----------")

Total: Unknown Gender User Count
18467
Monthly Average: Unknown Gender User Count
3077.8333333333335
----------
Total: Male Gender User Count
84676
Monthly Average: Male Gender User Count
14112.666666666666
----------
Total: Female Gender User Count
34824
Monthly Average: Female Gender User Count
5804.0
----------

In [24]:
# Query Data. What is the average trip duration for this time period? 
average_tripduration = citibikejan_june2020["tripduration"].mean()
average_tripduration

1570.899483209753